@charset "UTF-8";
html{
  font-family: "Lato", sans-serif;
  /* font-family: "Noto Serif JP", serif; */
  /* font-size: 10px; */
  font-size: .625vw;
  text-align: justify;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; 
}
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    color:#333333;
}

/* 共通 */
body{
    overflow-x:hidden;
}
a {
    color: inherit;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: inherit;
}
.container_fild{
    width: 100%;
}
.container{
    width: max(100% - 16rem,87.5%);
}
h2,h1,h3,h4{
    font-family: "Noto Serif JP", serif;
}
.noto_serif{
    font-family: "Noto Serif JP", serif;
}
img{
    width: 100%;
}
.logo{
    width:144px;
}
.template_hedding{
    font-size: 50px;
    letter-spacing: .02em;
    color: #CD2B1F;
    font-weight: normal;
}


/* ビューオールボタン */
.view_all_btn{
    display: inline-block;
    padding:11px 16px;
    border: solid 1px #DD8A8B;
    border-radius: 4px;
}
.view_all_btnContent{
    display: flex;
    align-items: center;
    gap: 87px;
}
.view_all_btnContent span{
    font-size:12px;
    color:#DD8A8B;
}

/* PCのハンバーガーメニュー */
.hamburger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 16px;
    cursor: pointer;
    /* transition: .3s; */
    -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
    z-index: 9999;
}
.hamburger_open_content{
    display: block;
    position:fixed;
    top: 0;
    left: 100%;
    width:100%;
    height:100%;
    cursor: pointer;
    opacity: 0;
    transition: left .5s, opacity .5s;
    overflow:hidden;
    z-index: 9999;
}
.hamburger_open_content .inner_line:first-child{
    top: 0;
    transform: translateY(7px) rotate(-45deg);
}
.hamburger_open_content .inner_line:last-child{
    bottom: 0;
    transform: translateY(0px) rotate(45deg);
}
.hamburger_open_content.active{
    left: 0;
    opacity: 1;
}
.inner_line{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#CD2B1F;
    transition: .3s;
    border-radius: 4px;
}

.globalMenuPc{
    position:absolute;
    top: 0;
    right: 0;
    width:550px;
    height: 100%;
    padding: 60px 55px;
    background-color: white;
    z-index: 999999999;
}
.header-nav__flexPc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.globalMenuPc .icon{
    position: relative;
    margin: 0 0 0 18px;
    vertical-align: middle;
}

.globalMenuPc .icon::before{
    content:"";
    position: absolute;
    display:inline-block;
    width: 36px;
    height: 36px;
    border-radius: 999999%;
    border: solid 1px #DD8A8B;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.icon_box img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 14px;
}
/* アイコンサイズ */
.person_icon{
    width: 24px;
    height:24px;
}
.sns_icon_size img{
    width: 24px;
    height: 24px;
}
.heart_icon{
    width: 24px;
    height: 24px;
    padding-top: 2px;
}
.sns_icon_size{
    width: 23px;
    height: 23px;
}
.icon_box{
    display: flex;
    align-items: center;
}
.globalMenuPc_section{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.globalMenuPc_section li a span:first-child{
    font-family: "Noto Serif JP", serif;
    font-size:28px;
    letter-spacing:0.08em;
    color:#CD2B1F;
}
.globalMenuPc_section li a span:last-child,
.globalMenuPc_sns li a span:last-child{
    margin-left: 12px;
    font-size:12px;
}
.globalMenuPc_section li a span:last-child{
    color:#DD8A8B;
}
.globalMenuPc_sns li a span:last-child{
    color: #CD2B1F;
}
.globalMenuPc_sns{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hamburger_copy_box{
    margin-top: auto;
}
.hamburger_copy{
    font-size: 12px;
    color: #CD2B1F;
    letter-spacing: .2em;
}
.copy_box{
    margin-top:auto;
}
.hamburger_img_content{
    position: absolute;
    left: 0;
    top: 0;
    width:max(100% - 550px);;
    height: 100%;
}
.hamburger_img{
   width: 100%;
   height: 100%;
}
.hamburger_img img{
    object-fit: cover;
    min-height: 100svh;
}
/* PCのハンバーガーメニュー終了 */

/* ヘッダー線 */
.hamburger span{
    position: absolute;
    display: inline-block;
}
.hamburger span:first-child{
    top:0;
    left: 0;
}
.hamburger span:nth-child(2){
    top:7px;
    left: 0;
}
.hamburger span:last-child{
    bottom: 0;
    left: 0;
}
.header_nav{
    position: fixed;
    mix-blend-mode: multiply;
    top:6.5vh;
    width: 100%;
    z-index: 9999;
}
.header-nav__padding{
    padding:0 47px;
}
.header-nav__flex{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

/* ヘッダー右部分 */
.head_right_list{
    display: flex;
    align-items: center;
}
.header__link-wrapper>span{
    font-size:1.3rem;
    color: #CD2B1F;
}
.CartCount span{
    font-size: 1.4rem;
    color: #000;
}
/* ヘッダーのカートボックス部分 */
@media screen and (min-width: 480px){
    .head_right_cartbox{
        margin-right: 20px
    }
};
.header__link-wrapper{
    display: flex;
    align-items: center;
}
/* ヘッダーカート部分 */
#CartCount span{
    color: white;
}
span#CartCount{
    padding:15px 15px;
    border-radius:50%; 
    position: relative;
    margin-left: 3px;
}
span#CartCount:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #CD2B1F;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: -1;
    transition: .6s;
}
.header_nav span#CartCount:before {
    background-color: #CD2B1F;
}
@media screen and (min-width: 480px){
    span#CartCount:before {
        width: 36px;
        height: 36px;
    }
};
